## March 19th

### We will look at health condition variables against initial waves using the aggregate health variable in indresp.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

frame.tail()

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])

data

In [7]:
# If you add dataframe with no common rows or columns, it'll display null

df1 = pd.DataFrame({"A": [1, 2]})
df2 = pd.DataFrame({"B": [3,4]})

df1 + df2

    A   B
0 NaN NaN
1 NaN NaN

In [8]:
df1.add(df2, fill_value=0)

     A    B
0  1.0  3.0
1  2.0  4.0