## K-Means Clustering on Frailty
#### By Gavin Qu, Aug 11th 2024

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
df = pd.read_csv('/Users/gavinqu/Desktop/School/Dissertation/EssexDissertation/Data/frailty_long_panel.csv')

In [11]:
df.head(2)

,pidp,age_dv,disdif1,disdif2,disdif3,disdif4,disdif5,disdif6,disdif7,disdif8,...,healthcond9,healthcond10,healthcond11,healthcond12,healthcond13,healthcond14,healthcond15,healthcond16,death,frailty
0,22445,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.037037
1,22445,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.037037

In [9]:
df_frailty = df[['pidp', 'wave', 'age_dv', 'death', 'frailty']]
df_frailty.head(2)

    pidp wave  age_dv  death   frailty
0  22445    d    27.0      0  0.037037
1  22445    e    28.0      0  0.037037

In [10]:
df_frailty.describe()

               pidp         age_dv          death        frailty
count  5.379200e+05  537888.000000  537920.000000  529303.000000
mean   7.789122e+08      48.326057       0.008261       0.057325
std    4.651049e+08      18.842408       0.090516       0.116342
min    2.244500e+04       0.000000       0.000000       0.000000
25%    4.080830e+08      33.000000       0.000000       0.000000
50%    7.483869e+08      48.000000       0.000000       0.037037
75%    1.157245e+09      63.000000       0.000000       0.074074
max    1.653277e+09     105.000000       1.000000       1.000000